<div class="card">
    <h5 class="card-header bg-dark text-white">Assigned to</h5>
    <div class="card-body row">

      <div class=" col-sm-4 col-md-3 mb-2">
        <a routerLink="/tasks/1/users/1">
    
          <div class="card text-white bg-dark">
              <div class="card-header text-center">
                Muajhid
              </div>
          </div>
        </a>
      </div>


      <div class=" col-sm-4 col-md-3 mb-2">
          <a routerLink="/tasks/1/users/2">
      
            <div class="card text-white bg-dark">
                <div class="card-header text-center">
                  Ubaid
                </div>
            </div>
          </a>
      </div>

    </div>
  </div>
  