<div class="card">
    <h5 class="card-header">Assigned to</h5>
    <div class="card-body row">

        <ng-container *ngFor="let user of users">

                <div class=" col-sm-4 col-md-3 mb-2">
                    <div class="card text-white bg-dark">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <a routerLink="/users/{{user.id}}">{{user.name}}</a>
                            <span (click)="unassignTask(user.id)" title="Remove from this task" class="ml-2 badge badge-danger">x</span>
                        </div>
                        
                    </div>
                </div>
        </ng-container>
      
    </div>
  </div>
  