<div class="row text-center">

  <div class=" col-md-4 mb-4">
    <a routerLink="/tasks">

      <div class="card text-white bg-dark">
          <div class="card-header">
            Tasks List
          </div>
      </div>
    </a>
  </div>

  <div class=" col-md-4 mb-4">
    <a routerLink="/assigntask">

      <div class="card text-white bg-dark">
          <div class="card-header">
            Assign Task
          </div>
      </div>
    </a>
  </div>


  <div class=" col-md-4 mb-4">
    <a routerLink="/users">

      <div class="card text-white bg-dark">
          <div class="card-header">
            Manage Users
          </div>
      </div>
    </a>
  </div>


</div>
