<div class="row mb-4">
    <div class="col-12">
        <!-- pass userdata in it -->
        <app-user-item></app-user-item>

        <div  *appAdmin="authUser"  class="text-right mt-2">
            <a class="btn btn-info" routerLink="/users/1/edit">Edit User</a>
        </div>
        
    </div>
</div>
  
<div class="row">
    <div class="col-12">
        <!-- pass userdata in it -->
        <app-tasks></app-tasks>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <!-- pass userdata in it -->
        <app-feedback></app-feedback>
    </div>
</div>