<div class="row mb-4">
    <div class="col-12">
        <!-- pass userdata in it -->
        <app-user-item [user] = "user" ></app-user-item>

        <div  *appAdmin="authUser"  class="text-right mt-2">
            <a class="btn btn-info" routerLink="/users/{{userId}}/edit">Edit User</a>
        </div>
        
    </div>
</div>
  
<div class="row">
    <div class="col-12">
        <!-- pass userdata in it -->
        <app-tasks [tasks] = "tasks"></app-tasks>
    </div>
</div>


<div class="row mt-3">
    <div class="col-12">
        <app-feedback [userId] = 'userId'></app-feedback>
    </div>
</div>