
<div class="card mb-3">
  <div class="card-body">
    <p class="card-title">{{ feedback?.description }}</p>
      
  </div>
  <div class="card-footer d-flex justify-content-between align-content-center">
      <small>
        Posted
        <ng-container *appAdmin="authUser">
          by <a class="text-muted"  routerLink="/users/{{feedback?.user_id}}">{{feedback?.user_name}}</a>
        </ng-container>
       on task <a class="text-muted" routerLink="/tasks/{{feedback?.task_id}}">{{feedback?.task_title}}</a>
       at <span class="text-muted">{{ feedback?.created_at.date | date:'medium' }}</span>
      </small>
      <button (click)="onFeedbackDelete(feedback.id)" class="btn btn-sm btn-danger" >x</button>
  </div>
</div>
  